.container {
    margin: 0;
    padding: 0;
    flex: 1;
    height: 10vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    position: absolute;
    align-self: center;
    z-index: 3; 
    width: 360px;
    height: 110px;
    padding: 5px;
    background-color: #312F2C;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.map {
    flex: 6;
    width: 100vw;
    overflow: hidden;
}

.inventory{
    align-self: center;
}